.ng-cloak {
	display:none;
}

body > main {
	padding-top:20px;
}

body > footer {
	text-align:center;
}

#todo-list > div:first-child {
	background-color:#dddddd;
	border-radius: 5px;
	font-weight:bold;
	margin-bottom:10px;
}

#todo-list > div:last-child > div:last-child > div:last-child:not(:only-child) {
	display:none;
}

#todo-list > div:first-child > div:nth-child(n+2),
#todo-list > div > div > div > div:nth-child(n+2) {
	text-align:center;
}

input[type='checkbox'] {
	height:28px;
	width:28px;
}

form #completed {
	vertical-align:top;
}

.buttons {
	text-align:center;
}
