<div id="todo-list">
	<div class="row">
	  <div class="small-12 medium-6 columns">Task</div>
	  <div class="medium-2 columns show-for-medium-up">Priority</div>
	  <div class="medium-2 columns show-for-medium-up">Due Date</div>
	  <div class="medium-2 columns show-for-medium-up">Completed</div>
	</div>
</div>
