{{#if _id}}
<h2 id="modalTitle">Edit ToDo</h2>
{{else}}
<h2 id="modalTitle">New ToDo</h2>
{{/if}}
<form>
  <div class="row">
    <div class="large-12 columns">
      <textarea type="text" name="task" id="task" placeholder="Work on my dreams..." aria-label="To Do" rows="4"  data-bind="value: task, valueUpdate: 'blur'"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
			<label>Due Date
    	  <input type="text" name="dueDate" id="due-date" data-bind="value: dueDate, valueUpdate: 'blur'">
			</label>
		</div>
  </div>
  <div class="row">
    <div class="large-12 columns">
			<label>Priority
    	  <select id="priority" name="priority"  data-bind="value: priority">
          <option value="10">High</option>
          <option value="0">Normal</option>
          <option value="-10">Low</option>
				</select>
			</label>
		</div>
  </div>
  <div class="row">
    <div class="large-12 columns">
			<label>Completed
    	  <input type="checkbox" name="completed" id="completed" data-bind="checked: completed">
			</label>
		</div>
  </div>
  <div class="row">
    <div class="large-12 columns buttons">
			<button type="button" save-todo-action>Save</button>
			<button type="button" cancel-todo-action>Cancel</button>
      {{#if _id}}
		  <button type="button" delete-todo-action>Delete</button>
      {{/if}}
    </div>
  </div>
</form>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
