<!DOCTYPE html>

<html class="no-js" lang="en" >
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ToDo Application</title>
		<link rel="stylesheet" href="libs/foundation/css/normalize.css">
		<link rel="stylesheet" href="libs/foundation/css/foundation.css">
		<link rel="stylesheet" href="css/app.css">
		<script src="libs/foundation/js/vendor/modernizr.js"></script>
	</head>
	<body>
		<header ng-controller="HeaderCtrl">
			<nav class="top-bar" data-topbar role="navigation">
			  <ul class="title-area">
			    <li class="name">
			      <h1><a href="#">{{siteName}}</a></h1>
			    </li>
			  </ul>
			  <section class="top-bar-section">
			    <ul class="right">
						<li class="has-form">
				      <input type="text" placeholder="Find ToDos" aria-label="Find To Dos" ng-model="findToDos" elc-trigger-event="find-todos">
						</li>
			      <li class="has-form">
							<a href="#" class="button expand" elc-todo-edit-modal elc-todo-edit-modal-complete="refreshToDo()">New ToDo</a>
						</li>
			    </ul>
			  </section>
			</nav>
		</header>
		<main ng-controller="MainCtrl">
			<div id="todo-list">
				<div class="row">
				  <div class="small-12 medium-6 columns">To Dos</div>
				  <div class="medium-2 columns show-for-medium-up">Priority</div>
				  <div class="medium-2 columns show-for-medium-up">Due Date</div>
				  <div class="medium-2 columns show-for-medium-up">Completed</div>
				</div>
				<div class="row" ng-repeat-start="todo in todos | filter:{todo:findToDos}">
				  <div class="small-10 medium-6 columns">
						<a href='#' elc-todo-edit-modal="{{todo.id}}" elc-todo-edit-modal-complete="refreshToDo()">{{todo.todo}}</a>
					</div>
				  <div class="medium-2 columns show-for-medium-up">{{todo.priority | priorityLabel}}</div>
				  <div class="medium-2 columns show-for-medium-up">{{todo.due_date | date:'MM/dd/yyyy'}}</div>
				  <div class="small-2 medium-2 columns"><input type="checkbox" ng-model="todo.completed" ng-change='saveToDo(todo)'></div>
				</div>
				<div class="row show-for-small-only">
				  <div class="small-6 columns"><small>Priority: {{todo.priority | priorityLabel}}</small></div>
				  <div class="small-6 columns"><small>Due Date: {{todo.due_date | date:'MM/dd/yyyy'}}</small></div>
				</div>
				<div class="row" ng-repeat-end>
					<div class="small-12"><hr></div>
				</div>
			</div>
		</main>
		<footer ng-controller="FooterCtrl">
			<small ng-bind-html="copyrightNotice"></small>
		</footer>

	  <script src="libs/foundation/js/vendor/jquery.js"></script>
	  <script src="libs/foundation/js/foundation.min.js"></script>
		<script src="libs/angular/angular.js"></script>
		<script src="libs/angular-sanitize/angular-sanitize.js"></script>
	  <script src="ng/js/app.init.js"></script>
	  <script src="ng/js/app.constants.js"></script>
	  <script src="ng/js/services/app.events.svc.js"></script>
	  <script src="ng/js/services/app.todos.svc.js"></script>
	  <script src="ng/js/filters/app.priority.flt.js"></script>
	  <script src="ng/js/controllers/app.header.ctrl.js"></script>
	  <script src="ng/js/controllers/app.main.ctrl.js"></script>
	  <script src="ng/js/controllers/app.footer.ctrl.js"></script>
	  <script src="ng/js/directives/app.trigger-event.dir.js"></script>
	  <script src="ng/js/directives/app.todo-edit-modal.dir.js"></script>
	  <script src="ng/js/app.js"></script>
	</body>
</html>
